/* Navigation */
.navigation {
    position: absolute;
    width: 244px;
    height: 459px;
    left: 24 px;
    top: 115px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin-bottom: 7px;
}

.navigation a {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: #333;
}

.navigation a:hover {
    color: #8B8E99;
}

/* Dashboard Link */
.dashboard-link {
    position: absolute;
    width: 169px;
    height: 42px;
    left: 12%;
    top: 20%;
    color: #333;
}

/* Inventory Link */
.inventory-link {
    position: absolute;
    width: 169px;
    height: 42px;
    left: 12%;
    top: 30%;
    color: #333;
}

/* Order Link */
.order-link {
    position: absolute;
    width: 169px;
    height: 42px;
    left: 12%;
    top: 40%;
    color: #333;
}

/* Review Link */
.review-link {
    position: absolute;
    width: 169px;
    height: 42px;
    left: 12%;
    top: 50%;
    color: #333;
}

/* Profile Link */
.profile-link {
    position: absolute;
    width: 169px;
    height: 42px;
    left: 12%;
    top: 60%;
    color: #333;
}

.sidebar {
    flex: 0 0 250px;
    height: 100vh;
    /* Fixed height */
    padding: 25px;
    background-color: #f5f5f5;
    overflow-y: auto;
    /* Scrollable */
}

.nav-link {
    padding: 10px;
    color: #333;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-link:hover,
.nav-link.active {
    background-color: #e7e7e7;
}

.sidebar-divider {
    height: 1px;
    background-color: #dee2e6; /* Light grey color, adjust as needed */
    margin: 5px 20px; /* Adds some vertical space and horizontal padding */
}