/* seller_inventory.css */


.main-content h1 {
    margin-left: 20%;
    margin-bottom: 20px;
}

/* Style for the table with class 'inventory-table' */
.inventory-table {
    width: 75%;
    margin-left: 20%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Style for table header */
.inventory-table thead th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style for table body */
.inventory-table tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Alternate row background color */
.inventory-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Style for pagination controls */
.pagination {
    margin-left: 20%;
    margin-top: 20px;
}

.pagination span {
    margin-left: 0px;
}

.pagination a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin-left: 80px;
}

.pagination a:hover {
    background-color: #f2f2f2;
}

/* Style for the confirmation message box */
.confirmation-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's on top of other elements */
}

.confirmation-box .message {
    text-align: center;
}

.confirmation-box button {
    margin: 0 10px;
}

/* Add Product button */
.add-product-btn {
    float: right;
    background-color: #3858D6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

.add-product-btn:hover {
    background-color: #2e4ecf;
}