<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<!-- Sidebar Navigation -->
<aside class="sidebar">
    <nav class="nav flex-column">
        <a class="nav-link {{ 'active' if active_page == 'dashboard' }}"
            href="{{ url_for('users.user_profile') }}">Dashboard</a>

        <a class="nav-link {{ 'active' if active_page == 'orders' }}"
            href="{{ url_for('orders.display_orders') }}">Orders</a>

        <a class="nav-link {{ 'active' if active_page == 'later' }}"
            href="{{ url_for('cart.save_for_later') }}">Save for Later</a>

        <a class="nav-link {{ 'active' if active_page == 'details' }}"
            href="{{ url_for('users.user_details') }}">Account & Security</a>

        <a class="nav-link {{ 'active' if active_page == 'address' }}"
            href="{{ url_for('users.user_address') }}">Address</a>

        <a class="nav-link {{ 'active' if active_page == 'review' }}" href="{{ url_for('myreview.get_myreview') }}">My
            Review</a>

        <a class="nav-link {{ 'active' if active_page == 'wallet' }}"
            href="{{ url_for('users.manage_user_balance') }}">Balance & Spending</a>

        <div class="sidebar-divider"></div>

        {% if is_seller %}
        <a class="nav-link" href="{{ url_for('users.switch_to_seller') }}">Switch to seller</a>
        {% else %}
        <a href="#" class="nav-link" onclick="return checkAndRegisterSeller();">Become a seller</a>
        {% endif %}

        <div class="sidebar-divider"></div>
        <a class="nav-link" onclick="return confirm('You are logging out.');" href="{{ url_for('users.logout') }}">Sign
            out</a>
    </nav>

    <!-- Incomplete Address Modal -->
    <div class="modal fade" id="incompleteAddressModal" tabindex="-1" role="dialog"
        aria-labelledby="incompleteAddressModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document"> <!-- Add modal-dialog-centered here -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="incompleteAddressModalLabel">Complete Your Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please complete your address details before becoming a seller.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document"> <!-- Add modal-dialog-centered here -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Registration Successful</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You have successfully registered as a seller!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</aside>

<script>
    function checkAndRegisterSeller() {
        $.ajax({
            type: "POST",
            url: "{{ url_for('users.become_a_seller') }}",
            success: function(response) {
                if (response.success) {
                    $('#successModal').find('.modal-body').text(response.message);
                    $('#successModal').modal('show');
                    // Set a timeout to reload the page, gives user time to read the message
                    $('#successModal').on('hidden.bs.modal', function () {
                        location.reload();  // Reloads the current page
                    });
                } else {
                    $('#incompleteAddressModal').find('.modal-body').text(response.message);
                    $('#incompleteAddressModal').modal('show');
                }
            },
            error: function(xhr, status, error) {
                alert('Error while trying to register as a seller: ' + xhr.responseText);
            }
        });
        return false;  // Prevent default link behavior
    }
</script>
