{% extends "base.html" %}

{% block content %}

{#{% if current_user.is_authenticated %}#}
    {% if cart_items %}
    <h2>Cart for User ID: {{ user_id }}</h2>
    <table class='table table-hover table-bordered'>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Seller Name</th>
                <th scope="col">Price($)</th>
                <th scope="col">Save For Later Quantity</th>
                <th scope="col">In-Cart Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.p_productname }}</td>
                <td>{{ item.u_firstname ~ ' ' ~ item.u_lastname }}</td>
                <td>{{ item.ps_price }}</td>
                <td>{{ item.pc_savequantity }}</td>
                <td>{{ item.pc_incartquantity }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">No items in the cart.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2>No cart items found for User ID: {{ user_id }}</h2>
    {% endif %}
    {#{% else %}#} 
    <!-- <p>You must be logged in to view this page.</p> -->
    {#{% endif %}#}

{% endblock %}
