{% extends "base.html" %}

{% block content %}

<br><br>

<div>
  <form method="post" id="topKForm">
    <label for="topK">Enter value for k:</label>
    <input type="number" id="topK" name="topK" min="1" value="">
    <button type="submit">Show Top K</button>
  </form>
</div>



<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.p_productkey}}</th>
        <td>{{product.p_productname}}</td>
        <td>{{product.p_price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

<script>
  // Wait for the DOM to be fully loaded
  document.addEventListener('DOMContentLoaded', function() {
    // Check if there's a stored value in Local Storage and set it as the input value
    const savedTopK = localStorage.getItem('topKValue');
    if (savedTopK) {
      document.getElementById('topK').value = savedTopK;
    }
  
    // Listen for form submission to store the input value
    document.getElementById('topKForm').addEventListener('submit', function() {
      const topKValue = document.getElementById('topK').value;
      localStorage.setItem('topKValue', topKValue);
    });
  });
  </script>
<!-- {% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %} 
-->

{% endblock %}
