{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div class="login-container">
  <form class="login-form" action="" method="post" novalidate>
    <h1>Login</h1>
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.email.label }}
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
        {{ form.email(class_="form-control", placeholder="name@example.com") }}
      </div>
      {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password.label }}
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        {{ form.password(class_="form-control password", placeholder="Password") }}
        <div class="input-group-append">
          <button class="toggle-password" type="button" onclick="togglePasswordVisibility()">
            <i class="fas fa-eye"></i>
          </button>
        </div>        
      </div>      
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>




    {{ form.submit(class_="btn btn-primary") }}

    <div class="signup-link-container">
      Don't have an account? <a href="{{ url_for('users.register') }}">Sign up now</a>
    </div>
  </form>
</div>


<script>
  function togglePasswordVisibility() {
    var passwordInput = document.getElementById('password');
    var toggleIcon = document.querySelector('.toggle-password .fas');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      toggleIcon.classList.remove('fa-eye');
      toggleIcon.classList.add('fa-eye-slash');
    } else {
      passwordInput.type = 'password';
      toggleIcon.classList.remove('fa-eye-slash');
      toggleIcon.classList.add('fa-eye');
    }
  }
  </script>
  

{% endblock %}