{% extends "base.html" %}

{% block content %}

{% if current_user %}
  <!-- Display All Product Reviews in a Table -->
  {% if my_products_reviews %}
    <h2>Product Reviews</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Review Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for review in my_products_reviews %}
          <tr>
            <td>{{ review.pr_productname }}</td>
            <td>{{ review.pr_reviewdate }}</td>
            <td>{{ review.pr_review }}</td>
            <td>{{ review.pr_rating }}</td>
            <td>
              <!-- Edit button -->
              <a href="{{ url_for('myreview.edit_product_review', pr_userkey=review.pr_userkey, pr_productkey=review.pr_productkey) }}" class="btn btn-primary">Edit</a>
              <!-- Delete button -->
              <form action="{{ url_for('myreview.delete_product_review', pr_userkey=review.pr_userkey, pr_productkey=review.pr_productkey) }}" method="POST">
                  <button type="submit" class="btn btn-danger">Delete</button>
              </form>
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <!-- Display All Seller Reviews in a Table -->
  {% if my_seller_reviews %}
    <h2>Seller Reviews</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Seller Name</th>
          <th>Review Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for review in my_seller_reviews %}
          <tr>
            <td>{{ review.sr_sellername }}</td>
            <td>{{ review.sr_reviewdate }}</td>
            <td>{{ review.sr_review }}</td>
            <td>{{ review.sr_rating }}</td>
            <td>
              <!-- Edit button -->
              <a href="{{ url_for('myreview.edit_seller_review', sr_userkey=review.sr_userkey, sr_sellerkey=review.sr_sellerkey) }}" class="btn btn-primary">Edit</a>
              <!-- Delete button -->
              <form action="{{ url_for('myreview.delete_seller_review', sr_userkey=review.sr_userkey, sr_sellerkey=review.sr_sellerkey) }}" method="POST">
                  <button type="submit" class="btn btn-danger">Delete</button>
              </form>
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% else %}
  <h2>Please log in to view reviews.</h2>
  <!-- You can add a login link or button here -->
  <!-- <a href="/login" class="btn btn-primary">Login</a> -->
{% endif %}

{% endblock %}
