{% extends "base.html" %}

{% block content %}
<style>
    .popup-container { position: fixed; width: 400px; padding: 20px; background: white; box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 8px; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none; z-index: 100; }
    .overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); display: none; }
    .btn-cancel { background-color: #9d9b94; color: black; }
</style>
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <!-- Navigation Bar -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('orders.display_orders') }}">Order History</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Order Details</li>
                </ol>
            </nav>
            <!-- Order Details Header -->
            <div class="order-details-header d-flex justify-content-between align-items-center">
                <div>
                    <h2 class="mb-2">ORDER DETAILS</h2>
                    <p class="text-muted">#{{ order_details.order_number }}</p>
                    <p>{{ order_details.products_count }} Products • Ordered Placed in {{ order_details.order_date }}</p>
                </div>
                <div>
                    <h2 class="text-primary">${{ '%.2f'|format(order_details.total_price) }}</h2>
                </div>
            </div>

            <!-- Product List -->
            <div class="product-list mt-4">
                <h4>Product ({{ order_details.products|length }})</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">PRODUCT</th>
                            <th scope="col">SELLER</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">QUANTITY</th>
                            <th scope="col">SUB-TOTAL</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">WRITE A REVIEW</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in order_details.products %}
                        <tr>
                            <td>{{ product.product_name }}</td>
                            <td>{{ product.seller_name }}</td>
                            <td>${{ '%.2f'|format(product.price) }}</td>
                            <td>x{{ product.quantity }}</td>
                            <td>${{ '%.2f'|format(product.subtotal) }}</td>
                            <td>
                                {% if product.fulfillment_date %}
                                    Fulfilled on {{ product.fulfillment_date}}
                                {% else %}
                                    Not Fulfilled Yet
                                {% endif %}
                            </td>
                            <td>
                                
                                <!-- Add a New Review -->
                                <button class="btn btn-edit openPopup" onClick="togglePopup('newSellerPopup{{ loop.index }}')">New Review</button>
                                <div class="popup-container" id="newSellerPopup{{ loop.index }}">
                                    <form action="{{ url_for('myreview.new_seller_review', sr_sellerkey=product.seller_key, sr_userkey=user_key) }}" method="POST">
                                    <label for="userInput-{{ loop.index }}">Review:</label>
                                    <input type="text" id="userInput-{{ loop.index }}" name="userInput" required style="width: 290px; height: 80px; margin-bottom: 20px;">

                                    <label for="userRating-{{ loop.index }}">Rating (1-5):</label>
                                    <select id="userRating-{{ loop.index }}" name="userRating" required>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>

                                    <button type="submit" class="btn btn-primary" style="margin-left: 50px; margin-right: 5px;">Submit</button>
                                    <button type="button" class="btn btn-cancel" onClick="togglePopup('newSellerPopup{{ loop.index }}')">Cancel</button>
                                    </form>
                                </div>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
        {% if fulfilled_date %}
        <div class="alert alert-success" role="alert">
            This order is fully fulfilled.
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            This order is not fully fulfilled.
        </div>
        {% endif %} 
        </div>
    </div>
</div>

<div class="overlay" id="overlay" onClick="closeAllPopups()"></div>

<script>
    function togglePopup(id) {
      var popup = document.getElementById(id);
      var overlay = document.getElementById('overlay');
      var isVisible = popup.style.display === 'block';
      if (isVisible) {
        popup.style.display = 'none';
        overlay.style.display = 'none';
      } else {
        popup.style.display = 'block';
        overlay.style.display = 'block';
      }
    }
  
    function closeAllPopups() {
      var popups = document.querySelectorAll('.popup-container');
      var overlay = document.getElementById('overlay');
      popups.forEach(function(popup) {
        popup.style.display = 'none';
      });
      overlay.style.display = 'none';
    }
</script>

{% endblock %}
