{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <!-- Order History Column -->
        <div class="col-12">
            {% if orders %}
                <h2 class="mb-4 duke-blue">Order History</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="duke-blue-bg white-text">
                                <th scope="col">Order ID</th>
                                <th scope="col">Product Names</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.o_orderkey }}</td>
                                <td>{{ order.product_names }}</td>
                                <td>${{ "%.2f"|format(order.total_price) }}</td>
                                <td>{{ order['o_ordercreatedate'] }}</td>
                                <td>
                                    <!-- Adjust this to match the correct endpoint -->
                                    <form action="{{ url_for('orders.order_details') }}" method="POST">
                                        <input type="hidden" name="order_id" value="{{ order.o_orderkey }}">
                                        <button type="submit" class="btn btn-link p-0">View Details</button>
                                    </form>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No orders found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Pagination here -->
                <nav>
                    <ul class="pagination">
                        {% if page > 1 %}
                            <li class="page-item"><a href="{{ url_for('orders.display_orders', page=page-1) }}" class="page-link">Previous</a></li>
                        {% endif %}
                        
                        {% for i in range(1, total_pages+1) %}
                            <li class="page-item {% if i == page %}active{% endif %}"><a href="{{ url_for('orders.display_orders', page=i) }}" class="page-link">{{ i }}</a></li>
                        {% endfor %}

                        {% if page < total_pages %}
                            <li class="page-item"><a href="{{ url_for('orders.display_orders', page=page+1) }}" class="page-link">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>

            {% else %}
                <h2 class="text-center mt-5">You have no order history.</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
