{% extends "base.html" %}

{% block content %}

<form action="{{ url_for('order_history.order_history') }}" method="post">
    <input type="text" name="userkey" placeholder="Enter User Key">
    <button type="submit">Submit</button>
</form>

<h2>Purchase History:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Key</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in order_history %}
      <tr>
        <th scope="row">{{product[0]}}</th>
        <td>{{product[1]}}</td>
        <td>{{product[2]}}</td>
        <td>{{product[3]}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}