{% block content %}

<!-- Display All Product Reviews in a Table -->
  {% if current_user.is_authenticated %}
    {% if has_bought %}
      <!-- Add a New Review -->
      <button class="openPopup" onClick = "newProductReview(this)">New Review</button>

      <!-- Popup Form, initially hidden -->
      <div class="popup-container" style="display: none;" id="newProductPopup">
          <form class="inputForm" action="{{ url_for('myreview.new_product_review', pr_productkey=product_details.p_productkey, pr_userkey=user_key) }}" method="POST">
              <label>Enter New Product Review:</label>
              <input type="text" id="userInput" name="userInput" required>

              <label for="userRating">Rating (1-5):</label>
              <select id="userRating" name="userRating">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
              </select>

              <button type="submit" onsubmit="handleSubmit(event, 'newProductPopup')" class="submitBtn">Submit</button>
          </form>
      </div>
    {% else %}
      <h2>You need to make a purchase of this product to create reviews.</h2>
    {% endif %}
  {% else %}
  <h2>Please log in to create reviews.</h2>
  <!-- <a href="/login" class="btn btn-primary">Login</a> -->
  {% endif %}
  <div>
    <p>Average Rating: {{ product_rating if product_reviews else 'No ratings yet' }}</p>
    <p>Review Counts: {{ product_review_counts if product_reviews else 'No reviews' }}</p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Reviewer</th>
        <th>Review Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for review in product_reviews %}
        <tr>
          <td>{{ review.pr_userkey }}</td>
          <td>{{ review.pr_reviewdate }}</td>
          <td>{{ review.pr_review }}</td>
          <td>{{ review.pr_rating }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


<script>
  window.newProductReview = function(element) {
    var popup = document.getElementById("newProductPopup");
    if (popup) {
        popup.style.display = 'block';
    } else {
        console.error("Popup element not found");
    }
  };

  function handleSubmit(event, popupId) {
    event.preventDefault(); // Prevent default form submission
    var form = event.target;
    var url = form.action;
    
    fetch(url, {
        method: 'POST',
        body: new FormData(form),
        headers: {
            'Accept': 'application/json',
        }
    }).then(response => {
        document.getElementById(popupId).style.display = 'none'; // Close the popup
        if (response.ok) {
            return response.json(); // Or handle any other way
        }
        throw new Error('Something went wrong on api server!');
    }).then(response => {
        console.log(response);
        alert('Review successfully added or updated.');
    }).catch(error => {
        console.error(error);
    });
  }
</script>

{% endblock %}