{% extends "base.html" %}

{% block content %}
<style>
  .login-container {
  max-width: 400px;
  margin: auto;
  padding-top: 50px;
}

.login-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.login-form h1 {
  text-align: center;
  color: #333;
}

.login-form .form-control {
  border-radius: 20px; 
  padding: 25px; 
  font-size: 16px; 
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form .btn {
  width: 100%;
  border-radius: 20px;
  padding: 10px; 
  font-size: 18px; 
}

/* Adjust colors, hover effects, etc., as per the design */
.login-form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
</style>


<div class="login-container">




<form class="login-form" action="" method="post">
  <h1>Create account</h1>
  {{ form.hidden_tag() }}
  <p>
    {{ form.firstname.label }}<span style="color: red;">*</span><br/>
    {{ form.firstname(size=32) }}<br/>
    {% for error in form.firstname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.lastname.label }}<span style="color: red;">*</span><br/>
    {{ form.lastname(size=32) }}<br/>
    {% for error in form.lastname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.email.label }}<span style="color: red;">*</span><br/>
    {{ form.email(size=32) }}<br/>
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password.label }}<span style="color: red;">*</span><br/>
    {{ form.password(size=32, id='password') }}
    <button type="button" onclick="togglePasswordVisibility()">Show/Hide</button><br/>
    {% for error in form.password.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.password2.label }}<span style="color: red;">*</span><br/>
    {{ form.password2(size=32, id='password2') }}
    <button type="button" onclick="togglePasswordVisibility2()">Show/Hide</button><br/>
    {% for error in form.password2.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  
  <!-- Additional fields for registration -->
  <p>
    {{ form.companyname.label }}<br/>
    {{ form.companyname(size=32) }}<br/>
    {% for error in form.companyname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.streetaddress.label }}<br/>
    {{ form.streetaddress(size=32) }}<br/>
    {% for error in form.streetaddress.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.city.label }}<br/>
    {{ form.city(size=32) }}<br/>
    {% for error in form.city.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.stateregion.label }}<br/>
    {{ form.stateregion(size=32) }}<br/>
    {% for error in form.stateregion.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.zipcode.label }}<br/>
    {{ form.zipcode(size=32) }}<br/>
    {% for error in form.zipcode.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.country.label }}<br/>
    {{ form.country(size=32) }}<br/>
    {% for error in form.country.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.phonenumber.label }}<br/>
    {{ form.phonenumber(size=32) }}<br/>
    {% for error in form.phonenumber.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
</div>

<script>
  function togglePasswordVisibility() {
    var passwordInput = document.getElementById('password');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  }
  function togglePasswordVisibility2() {
    var passwordInput = document.getElementById('password2');
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  }
  </script>


{% endblock %}

