{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

<div class="login-container">
  <form class="login-form" action="" method="post">

    <h1>Create account</h1>

    {{ form.hidden_tag() }}

    <div class="form-group" style="margin-top: 40px;">
      {{ form.firstname.label }}<span style="color: red;">*</span><br />
      <div class="input-group">
        {{ form.firstname(class_="form-control", placeholder="") }}
      </div>
      {% for error in form.firstname.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.lastname.label }}<span style="color: red;">*</span><br />
      <div class="input-group">
        {{ form.lastname(class_="form-control", placeholder="") }}
      </div>
      {% for error in form.lastname.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.email.label }}<span style="color: red;">*</span><br />
      <div class="input-group">
        {{ form.email(class_="form-control", placeholder="") }}
      </div>
      {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.password.label }}<span style="color: red;">*</span><br />
      <div class="input-group">
        {{ form.password(class_="form-control password", placeholder="") }}
        <div class="input-group-append">
          <button class="toggle-password" type="button" onclick="togglePasswordVisibility('password')">
            <i class="fas fa-eye"></i>
          </button>
        </div>
      </div>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.password2.label }}<span style="color: red;">*</span><br />
      <div class="input-group">
        {{ form.password2(class_="form-control password", placeholder="") }}
        <div class="input-group-append">
          <button class="toggle-password" type="button" onclick="togglePasswordVisibility('password2')">
            <i class="fas fa-eye"></i>
          </button>
        </div>
      </div>
      {% for error in form.password2.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>


    <!-- Additional fields for registration -->
    <div class="form-group">
      {{ form.companyname.label }}
      <div class="input-group">
        {{ form.companyname(class="form-control", placeholder="") }}
      </div>
      {% for error in form.companyname.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>


    <div class="form-group">
      {{ form.streetaddress.label }}
      <div class="input-group">
        {{ form.streetaddress(class_="form-control", placeholder="") }}
      </div>
      {% for error in form.streetaddress.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        {{ form.city.label(class="form-label") }}
        <div class="input-group">
          {{ form.city(class="form-control", placeholder=current_user.city) }}
        </div>
      </div>
      <div class="form-group col-md-6">
        {{ form.zipcode.label(class="form-label") }}
        <div class="input-group">
          {{ form.zipcode(class="form-control", placeholder=current_user.zipcode) }}
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        {{ form.stateregion.label(class="form-label") }}
        <div class="input-group">
          {{ form.stateregion(class="form-control", placeholder=current_user.stateregion) }}
        </div>
      </div>
      <div class="form-group col-md-6">
        {{ form.country.label(class="form-label") }}
        <div class="input-group">
          <select class="form-control" id="{{ form.country.id }}" name="{{ form.country.name }}">
            {% for code, name in form.country.choices %}
            <option value="{{ code }}" {% if current_user.country==code %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="form-group" style="margin-bottom: 40px;">
      {{ form.phonenumber.label }}
      <div class="input-group">
        {{ form.phonenumber(class_="form-control", placeholder="") }}
      </div>
      {% for error in form.phonenumber.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <p>{{ form.submit_user(class_="btn btn-primary") }}</p>
    <p>{{ form.submit_seller(class_="btn btn-primary") }}</p>
  </form>
</div>

<script>
  function togglePasswordVisibility(passwordFieldId) {
    var passwordInput = document.getElementById(passwordFieldId);
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  }
</script>


{% endblock %}