{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seller_navigation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seller_homepage.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% include "seller_navigation.html" %}
    <div class="main-content">
        <h1>Welcome, Seller {{ seller_name }}</h1>
        {% if seller_key %}
            <p>Total Income: ${{ total_income }}</p>
            <form action="" method="post">
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" value="{{ start_date }}" required>
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" value="{{ end_date }}" required>
                <button type="submit">Update Chart</button>
            </form>
        {% else %}
            <p>You are not a seller.</p>
        {% endif %}
        <h3>Monthly Income Chart:</h3>
        <div id="monthlyIncomeChartContainer">
            <canvas id="monthlyIncomeChart"></canvas>
        </div>
        <script>
            // Parse the 'months' and 'monthly_incomes' data from the Flask template
            const months = {{ months | tojson }};
            const monthlyIncomes = {{ monthly_incomes | tojson }};
        
            // Get the context of the canvas element we want to select
            const ctx = document.getElementById('monthlyIncomeChart').getContext('2d');
        
            // Create the bar graph
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: months,
                    datasets: [{
                        label: 'Monthly Income',
                        data: monthlyIncomes,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
{% endblock %}
