{% extends "base.html" %}

{% block title %}Seller Review{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seller_navigation.css') }}">
    <style>
      .container.mt-5 {
          margin-left: 20%;
          margin-bottom: 20px;
      }

      /* Style for the table with class 'inventory-table' */
      .table.table-hover {
          width: 75%;
          margin-left: 20%;
          border-collapse: collapse;
          margin-bottom: 20px;
          margin-top: 20px;
      }

      /* Style for table header */
      .thead-dark {
          background-color: #f2f2f2;
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
      }

      /* Style for table body */
      .table.table-hover tbody td {
          border: 1px solid #ddd;
          padding: 8px;
      }

      /* Alternate row background color */
      .table.table-hover tbody tr:nth-child(even) {
          background-color: #f9f9f9;
      }
    </style>
    {% include "seller_navigation.html" %}

    <div class="container mt-5">
        <h2 class="mb-3">Seller Reviews</h2>
        <div class="mb-3">
            <p><strong>Average Rating:</strong> {{ seller_rating if seller_reviews else 'No ratings yet' }}</p>
            <p><strong>Review Counts:</strong> {{ seller_review_counts if seller_reviews else 'No reviews' }}</p>
        </div>
        
        {% if seller_reviews %}
        <!-- Display All Seller Reviews in a Table -->
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th>Reviewer</th>
                <th>Review Date</th>
                <th>Review</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              {% for review in seller_reviews %}
                <tr>
                  <td>{{ review.sr_userkey }}</td>
                  <td>{{ review.sr_reviewdate }}</td>
                  <td>{{ review.sr_review }}</td>
                  <td>{{ review.sr_rating }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <!-- Pagination Controls -->
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item {% if page_num <= 1 %}disabled{% endif %}">
                <a class="page-link" href="?page={{ page_num - 1 }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% for num in range(1, total_pages + 1) %}
              <li class="page-item {% if num == page_num %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
              {% endfor %}
              <li class="page-item {% if page_num >= total_pages %}disabled{% endif %}">
                <a class="page-link" href="?page={{ page_num + 1 }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        {% else %}
          <p>No reviews available.</p>
          <!-- You can add a login link or button here if it's needed -->
          <!-- <a href="/login" class="btn btn-primary">Login</a> -->
        {% endif %}
    </div>

{% endblock %}
