{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seller_navigation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seller_inventory.css') }}">
    {% include "seller_navigation.html" %}
    <div class="main-content">
        <h1>Inventory</h1>
        <table class="inventory-table">
            <thead>
                <tr>
                    <th>Product Key</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Create Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in productseller_info %}
                <tr>
                    <td>{{ product.productkey }}</td>
                    <td>{{ product.productname }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.discount }}</td>
                    <td>{{ product.createtime }}</td>
                    <td>
                        <!-- Button for redirecting to product details -->
                        <a href="{{ url_for('sellers.seller_product_details', s_sellerkey=seller_key, p_productkey=product.productkey) }}" class="btn btn-primary">Details</a>
                    </td>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Pagination controls -->
        <div class="pagination">
            <span>Page {{ current_page }} of {{ total_pages }}</span>
            <a href="?page=1">First</a>
            {% if current_page > 1 %}
                <a href="?page={{ current_page - 1 }}">Previous</a>
            {% endif %}
            {% if current_page < total_pages %}
                <a href="?page={{ current_page + 1 }}">Next</a>
            {% endif %}
            <a href="?page={{ total_pages }}">Last</a>
        </div>
    </div>
{% endblock %}
