<!-- seller_order_details.html -->

{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seller_navigation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seller_order_details.css') }}">
    {% include "seller_navigation.html" %}
    <div class="main-content">
        <h1>Order Details</h1>
        {% if lineitem_info %}
            <div class="order-info">
                <p><strong>Order ID:</strong> {{ lineitem_info.order_id }}</p>
                <p><strong>Lineitem ID:</strong> {{ lineitem_info.lineitem_id }}</p>
                <p><strong>Product Key:</strong> {{ lineitem_info.product_key }}</p>
                <p><strong>Product Name:</strong> {{ lineitem_info.product_name }}</p>
                <p><strong>Date:</strong> {{ lineitem_info.date }}</p>
                <p><strong>Customer Name:</strong> {{ lineitem_info.customer_name }}</p>
                <p><strong>Original Price:</strong> {{ lineitem_info.origin_price }}</p>
                <p><strong>Discount:</strong> {{ lineitem_info.discount }}</p>
                <p><strong>Tax:</strong> {{ lineitem_info.tax }}</p>
                <p><strong>Quantity:</strong> {{ lineitem_info.quantity }}</p>
                <p><strong>Total Price:</strong> {{ lineitem_info.total_price }}</p>
                <p><strong>Status:</strong> {{ lineitem_info.status }}</p>
            </div>
        {% else %}
            <p>No information available for this lineitem.</p>
        {% endif %}
    </div>
{% endblock %}
